*.pyc
*.mp4
*.swp
*.png
.vscode/
__pycache__/
wandb/
log/
research_main/__pycache__/
research_main/envs/json params/
results/
dcgm/
research_main/envs/outputs/
research_main/envs/json params
env_test/assets_2f85
env_test/assets_ur10e
env_test/mujoco_menagerie
env_test/outputs mujoco test
env_test/outputs standalone
policy results/
research_main/envs/mpc_log.csv
research_main/envs/RL_log.csv